.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  gap: 10px;
  padding: 92px 50px;
}

.header__menu {
  margin-bottom: 7px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  text-transform: lowercase;
}

.header__links-list-item {
  list-style: circle;
}

.no-bullit,
.lots__list,
.footer__links-list-item {
  list-style: none;
}

.header__link,
.footer__link {
  font-style: normal;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  text-underline-offset: 3.5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__link_active,
.footer__link_active {
  text-decoration: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  max-width: 240px;
  font-size: 18px;
  line-height: 24.3px;
}

.address,
.address a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.header__address {
  justify-self: end;
  margin-bottom: 5px;
}

.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 50px;
  color: #ffffff;
  background: url("../images/cover.jpg");
  background-position: bottom;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin: 114px 0 94px 0;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text span {
  display: block;
}

.aligned-text__center {
  margin-left: 30px;
  text-align: center;
}

.aligned-text__right {
  margin-right: -30px;
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 107px;
  padding-top: 10px;
  text-transform: uppercase;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid white;
  padding: 12px 32px;
  color: white;
  font-weight: 400;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 0 24px 53px 24px;
  color: #000000;
}

.lots h2 {
  padding: 0px 40px 27px 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.lot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  background-position: center;
  background-size: cover;
}

.lot-link {
  text-decoration: none;
}

.lot article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 596px;
  padding: 48px 40px;
}

.lot__card {
  background-position: center;
  background-size: cover;
}

.movie {
  background-image: url("../images/card-lot-01.jpg");
}

.book {
  background-image: url("../images/card-lot-02.jpg");
}

.picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lot__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-underline-offset: 3.5px;
  text-transform: uppercase;
}

.lot__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more {
  display: block;
  max-width: fit-content;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  text-decoration-thickness: 1px;
  text-underline-offset: 3.5px;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 90px;
}

.about__column-left {
  padding-top: 1px;
  padding-left: 71px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: auto;
}

.about__title {
  padding: 102px 16px 100px 16px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 27px 0 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 90px 50px;
  font-size: 18px;
}

.footer__menu {
  justify-self: center;
  text-align: center;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
